#DIV_1 {
    background-position: 50% -379.2px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    height: 572px;
    text-align: left;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    width: 1160px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 580px 286px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transform-origin: 580px 286px;
    caret-color: rgb(255, 255, 255);
    background: rgb(35, 35, 35) url("http://demo.mattsapii.co/taplak/images/content/features-bg-potrait.jpg") no-repeat scroll 50% -379.2px / cover padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    font: 16px / 28.8px Raleway, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
    padding: 100px 0px;
}/*#DIV_1*/

#DIV_1:after {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    text-align: left;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: 16px / 28.8px Raleway, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_1:after*/

#DIV_1:before {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    text-align: left;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: 16px / 28.8px Raleway, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_1:before*/

#DIV_2 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    height: 372px;
    max-width: 960px;
    text-align: left;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    width: 960px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 480px 186px;
    transform-origin: 480px 186px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: 16px / 28.8px Raleway, sans-serif;
    margin: 0px 100px;
    outline: rgb(255, 255, 255) none 0px;
    padding: 0px 15px;
}/*#DIV_2*/

#DIV_2:after {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    text-align: left;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: 16px / 28.8px Raleway, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_2:after*/

#DIV_2:before {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    text-align: left;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: 16px / 28.8px Raleway, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_2:before*/

#DIV_3 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    height: 38px;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    width: 930px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 465px 19px;
    transform-origin: 465px 19px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: 16px / 28.8px Raleway, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_3*/

#DIV_3:after {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: 16px / 28.8px Raleway, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_3:after*/

#DIV_3:before {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: 16px / 28.8px Raleway, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_3:before*/

#H3_4 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    height: 38px;
    letter-spacing: 3px;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    text-transform: uppercase;
    width: 930px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 465px 19px;
    transform-origin: 465px 19px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: 700 32px / 38.4px Raleway, sans-serif;
    margin: 0px 0px 50px;
    outline: rgb(255, 255, 255) none 0px;
}/*#H3_4*/

#H3_4:after {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    letter-spacing: 3px;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    text-transform: uppercase;
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: 700 32px / 38.4px Raleway, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#H3_4:after*/

#H3_4:before {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    letter-spacing: 3px;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    text-transform: uppercase;
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: 700 32px / 38.4px Raleway, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#H3_4:before*/

#DIV_5 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: flex;
    height: 284px;
    text-align: left;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    width: 960px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 480px 142px;
    transform-origin: 480px 142px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    flex-flow: row wrap;
    font: 16px / 28.8px Raleway, sans-serif;
    margin: 0px -15px;
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_5*/

#DIV_5:after {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: block;
    text-align: left;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: 16px / 28.8px Raleway, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_5:after*/

#DIV_5:before {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: block;
    text-align: left;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: 16px / 28.8px Raleway, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_5:before*/

#DIV_6, #DIV_12, #DIV_18 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    height: 284px;
    left: 0px;
    max-width: 33.3333%;
    min-height: auto;
    min-width: auto;
    position: relative;
    right: 0px;
    text-align: left;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    top: 0px;
    width: 319.984px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 159.984px 142px;
    transform-origin: 159.992px 142px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    flex: 0 0 33.3333%;
    font: 16px / 28.8px Raleway, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
    padding: 0px 15px;
}/*#DIV_6, #DIV_12, #DIV_18*/

#DIV_6:after, #DIV_12:after, #DIV_18:after {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    text-align: left;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: 16px / 28.8px Raleway, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_6:after, #DIV_12:after, #DIV_18:after*/

#DIV_6:before, #DIV_12:before, #DIV_18:before {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    text-align: left;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: 16px / 28.8px Raleway, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_6:before, #DIV_12:before, #DIV_18:before*/

#DIV_7 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    height: 212px;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    width: 289.984px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 144.984px 106px;
    transform-origin: 144.992px 106px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: 16px / 28.8px Raleway, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
    padding: 0px 40px;
}/*#DIV_7*/

#DIV_7:after {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: 16px / 28.8px Raleway, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_7:after*/

#DIV_7:before {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: 16px / 28.8px Raleway, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_7:before*/

#SPAN_8, #SPAN_14, #SPAN_20 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: block;
    height: 44px;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    width: 209.984px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 104.984px 22px;
    transform-origin: 104.992px 22px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: 16px / 28.8px Raleway, sans-serif;
    margin: 0px 0px 20px;
    outline: rgb(255, 255, 255) none 0px;
}/*#SPAN_8, #SPAN_14, #SPAN_20*/

#SPAN_8:after, #SPAN_14:after, #SPAN_20:after {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: 16px / 28.8px Raleway, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#SPAN_8:after, #SPAN_14:after, #SPAN_20:after*/

#SPAN_8:before, #SPAN_14:before, #SPAN_20:before {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: 16px / 28.8px Raleway, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#SPAN_8:before, #SPAN_14:before, #SPAN_20:before*/

#I_9 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: inline-block;
    height: 40px;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    width: 40px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 20px 20px;
    transform-origin: 20px 20px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: 900 40px / 40px "Font Awesome 5 Free";
    outline: rgb(255, 255, 255) none 0px;
}/*#I_9*/

#I_9:after {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: 900 40px / 40px "Font Awesome 5 Free";
    outline: rgb(255, 255, 255) none 0px;
}/*#I_9:after*/

#I_9:before {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    content: '""';
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: 900 40px / 40px "Font Awesome 5 Free";
    outline: rgb(255, 255, 255) none 0px;
}/*#I_9:before*/

#H4_10, #H4_16 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    height: 56px;
    letter-spacing: 2px;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    text-transform: uppercase;
    width: 209.984px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 104.984px 28px;
    transform-origin: 104.992px 28px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: 700 24px / 28.8px Raleway, sans-serif;
    margin: 0px 0px 8px;
    outline: rgb(255, 255, 255) none 0px;
}/*#H4_10, #H4_16*/

#H4_10:after, #H4_16:after {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    text-transform: uppercase;
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: 700 24px / 28.8px Raleway, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#H4_10:after, #H4_16:after*/

#H4_10:before, #H4_16:before {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    text-transform: uppercase;
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: 700 24px / 28.8px Raleway, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#H4_10:before, #H4_16:before*/

#P_11 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    height: 84px;
    opacity: 0.9;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    width: 209.984px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 104.984px 42px;
    transform-origin: 104.992px 42px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: 16px / 28.8px georgia, serif;
    margin: 0px 0px 16px;
    outline: rgb(255, 255, 255) none 0px;
}/*#P_11*/

#P_11:after {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: 16px / 28.8px georgia, serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#P_11:after*/

#P_11:before {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: 16px / 28.8px georgia, serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#P_11:before*/

#DIV_13 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    height: 268px;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    width: 289.984px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 144.984px 134px;
    transform-origin: 144.992px 134px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: 16px / 28.8px Raleway, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
    padding: 0px 40px;
}/*#DIV_13*/

#DIV_13:after {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: 16px / 28.8px Raleway, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_13:after*/

#DIV_13:before {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: 16px / 28.8px Raleway, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_13:before*/

#I_15 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: inline-block;
    height: 40px;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    width: 40px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 20px 20px;
    transform-origin: 20px 20px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: 40px / 40px "Font Awesome 5 Free";
    outline: rgb(255, 255, 255) none 0px;
}/*#I_15*/

#I_15:after {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: 40px / 40px "Font Awesome 5 Free";
    outline: rgb(255, 255, 255) none 0px;
}/*#I_15:after*/

#I_15:before {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    content: '""';
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: 40px / 40px "Font Awesome 5 Free";
    outline: rgb(255, 255, 255) none 0px;
}/*#I_15:before*/

#P_17, #P_23 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    height: 140px;
    opacity: 0.9;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    width: 209.984px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 104.984px 70px;
    transform-origin: 104.992px 70px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: 16px / 28.8px georgia, serif;
    margin: 0px 0px 16px;
    outline: rgb(255, 255, 255) none 0px;
}/*#P_17, #P_23*/

#P_17:after, #P_23:after {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: 16px / 28.8px georgia, serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#P_17:after, #P_23:after*/

#P_17:before, #P_23:before {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: 16px / 28.8px georgia, serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#P_17:before, #P_23:before*/

#DIV_19 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    height: 240px;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    width: 289.984px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 144.984px 120px;
    transform-origin: 144.992px 120px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: 16px / 28.8px Raleway, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
    padding: 0px 40px;
}/*#DIV_19*/

#DIV_19:after {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: 16px / 28.8px Raleway, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_19:after*/

#DIV_19:before {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: 16px / 28.8px Raleway, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_19:before*/

#I_21 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: inline-block;
    height: 40px;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    width: 50px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 25px 20px;
    transform-origin: 25px 20px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: 900 40px / 40px "Font Awesome 5 Free";
    outline: rgb(255, 255, 255) none 0px;
}/*#I_21*/

#I_21:after {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: 900 40px / 40px "Font Awesome 5 Free";
    outline: rgb(255, 255, 255) none 0px;
}/*#I_21:after*/

#I_21:before {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    content: '""';
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: 900 40px / 40px "Font Awesome 5 Free";
    outline: rgb(255, 255, 255) none 0px;
}/*#I_21:before*/

#H4_22 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    height: 28px;
    letter-spacing: 2px;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    text-transform: uppercase;
    width: 209.984px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 104.984px 14px;
    transform-origin: 104.992px 14px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: 700 24px / 28.8px Raleway, sans-serif;
    margin: 0px 0px 8px;
    outline: rgb(255, 255, 255) none 0px;
}/*#H4_22*/

#H4_22:after {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    text-transform: uppercase;
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: 700 24px / 28.8px Raleway, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#H4_22:after*/

#H4_22:before {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    text-transform: uppercase;
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: 700 24px / 28.8px Raleway, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#H4_22:before*/

