.login-form-container {
    border: 1px solid #9E9E9E;
    border-radius: 0.5rem;
    min-width: 50rem;
    background-color: white;
}

.google-login-btn {
    font-size: 1rem !important;
    & > div {
        padding: 5px !important;
        margin-right: 5px !important;
    }
}